.container tr{
    border: 1px solid #ddd;
}
.container {
    border-collapse: collapse;
    width: 100%;
}
.container td, #container th {
    border: 1px solid #ddd;
    /* padding: 8px; */
}

.container tr:nth-child(even){background-color: #f2f2f2;}

.container tr:hover {background-color: #ddd;}

.container th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(1, 34, 77);
    color: white;
    border-right: 1px solid !important;
}
.fa {
    cursor: pointer;
    width: 24px !important;
    height: 24px !important;
    font-size:18px !important;
}
